html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #2E2E2E;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 25px;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 25px;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    color: #727e85;
}

h5 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}

p {
    line-height: 28px;
    /*letter-spacing: -0.5px;*/
    color: #727e85;
    font-weight: 400;
    margin: 0 0 15px 0;
}

a, .link {
    color: #0C8E36;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    border-bottom: 1px solid #0C8E36;
    line-height: 1.3;
}

a.dashed, .link.dashed {
    border-bottom: 1px dashed #0C8E36;
}

a:hover, .link:hover {
    color: #0C8E36;
}

a:active, .link:active,
a:hover, .link:hover,
a:focus, .link:focus {
    color: #93C21C;
    border-color: #93C21C;
    text-decoration: none;
    outline: none;    
}

label {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin-bottom: 25px;
    height: 25px;
    line-height: 1.25;
}

input {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #ECECEC;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

input:hover {
    background: #F5F5F5;
}

input:active,
input:focus {
    background: #FFF;
    border-color: #0C8C35;
    -webkit-box-shadow: 0px 0px 3px 1px #D0D6F2 inset;
            box-shadow: 0px 0px 3px 1px #D0D6F2 inset;
    outline: none;
}

img {
    width: 100%;
}

strong {
    font-weight: 900;
}

ol, ul, li {
    margin: 0;
    padding: 0;
}

.row-30 {
    margin-left: -30px;
    margin-right: -30px;
}


/* Кнопки */
.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #72727A;
    text-transform: uppercase;
    border: 1px solid #F0F0F0;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

    .btn:hover {
        background: #EBEBEB;
        border-color: #EBEBEB;
        color: #72727A;
    }

    .btn-green {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: 600;
        color: #FFF;
        text-transform: uppercase;
        background: #0C8C35;
        border: 1px solid #0C8C35;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
    }

    .btn-green:hover {
        background: #AFDA42;
        border-color: #AFDA42;
        color: #FFF;
    }

    .btn-yellow {
        width: 100%;
        color: #2E2E2E;
        padding: 12px 0;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        background: #FECB00;
        border: 1px solid #FECB00;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
    }

    .btn-yellow:hover {
        background: #FCD721;
        border-color: #FCD721;
        color: #2E2E2E;
    }


/* Стилизация checkbox/radio */
.radio-custom__label {
    padding: 0;
    margin: 0;
    height: auto;
}

.checkbox-custom__old,
.radio-custom__old {
    display: none;
}

.checkbox-custom__new {
    height: 25px;
    width: 25px;
    position: relative;
    background: #FFF;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px #ccc inset;
            box-shadow: 0 2px 2px #ccc inset;
}

.radio-custom__new {
    width: 100%;
    background: #FFF;
    line-height: 48px;
    text-align: center;
    height: 50px;
    border-right: 1px solid #E1E1E1;
    font-size: 24px;
    font-weight: 700;
}

    .radio-custom__label:hover .radio-custom__new {
        background: #F5F5F5;
    }

.checkbox-custom__new,
.radio-custom__new,
.checkbox-custom__text {
    display: inline-block;
    vertical-align: middle;
}

.checkbox-custom__text {
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
}

.checkbox-custom__old:checked + .checkbox-custom__new::before {
    content: "";
    background: url(../img/icon-check.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -12px;
    right: -12px;
}

.radio-custom__old:checked + .radio-custom__new {
    color: #FFF;
    background: #0c8b34;
    background: -moz-linear-gradient(top, #0c8b34 0%, #0b762e 100%);
    background: -webkit-linear-gradient(top, #0c8b34 0%,#0b762e 100%);
    background: linear-gradient(to bottom, #0c8b34 0%,#0b762e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c8b34', endColorstr='#0b762e',GradientType=0 );
    border-right: 1px solid #0B7B2F;
    -webkit-border-radius: 3px;
            border-radius: 3px;
}

.checkbox-custom__new--small {
    width: 20px;
    height: 20px;
}

.checkbox-custom__old:checked + .checkbox-custom__new--small::before {
    width: 20px;
    height: 20px;
    top: -5px;
    right: -5px;
}

.radio-custom--small .radio-custom__new {
    font-size: 16px;
}


.radio-custom__label:first-child {
    border-radius: 5px 0 0 5px;
    overflow: hidden;
}

.radio-custom__label:last-child {
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}


/* Шапка */
header {
    /*position: fixed;*/
    /*top: 0;*/
    width: 100%;
    height: 115px;
    background: #FFF;
    /*border-bottom: 1px solid #E1E1E1;*/
    z-index: 2;
}

    .b-logo {
        display: inline-block;
    }

.b-phone {
    display: inline-block;
    position: relative;
    top: 12px;
    right: -6px;
}

    .b-phone__num {
        text-decoration: none;
        border: none;
        font-size: 19px;
        font-weight: 700;
        color: #2E2E2E;
        display: block;
        margin-bottom: 5px;
    }

    .b-phone__btn {
        font-size: 12px;
        padding: 5px;
        background: #92C11B;
        border-color: #92C11B;
    }

nav {
    margin: 0 25px;
    display: inline-block;
}

    nav.collapse {
        display: inline-block;
    }

    .nav__hamburger {
        display: none;
        border: none;
        padding: 0;
        margin: 0;
        background: none;
    }

    .nav__hamburger:active {
        outline: none;
    }

    .nav__hamburger:focus,
    .nav__hamburger:focus:after,
    .nav__hamburger:focus:before {
        outline: none;
        border-color: #93c21c;
    }

    .nav__ul {
        display: block;
    }

    .nav__li {
        display: inline-block;
        margin: 44px 15px;
    }

    .nav__link {
        color: #2E2E2E;
        font-size: 18px;
        font-weight: 600;
        display: block;
        line-height: 1.3;
        border-bottom: 1px dashed #979797;
        letter-spacing: -.1px;
    }

    .nav__link:hover {
        color: #0C8E36;
        text-decoration: none;
        border-color: #0C8E36;
    }

    .nav__li:first-child {
        margin-left: 0;
    }

    .nav__li:last-child {
        margin-right: 0;
    }

    .nav__li.active .nav__link {
        font-weight: 700;
        color: #0C8E36;
        border-bottom: none;
        letter-spacing: .4px;
    }


@media screen and (min-width: 1600px) {
    .b-logo {
        position: absolute; 
        left: 15px; 
        top: 22px; 
    }

    .b-phone {
        position: absolute;
        right: 15px;
        top: 23px;
    }

    nav {
        margin: 0;
    }

    .nav__li {
        margin-left: 40px;
        margin-right: 40px;
    }
}


/* Слайдер */
.b-slider {
    background: url('../img/slider.jpg') 50% 50% #E1E1E1;
    background-size: cover;
    /*margin-top: 115px;*/
    padding: 55px 0 140px 0;
}

    .b-slider__ul {
        margin: 30px 0 30px 20px;
    }

    .b-slider__ul li {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
        list-style-image: url("../img/icon-check-small.png");
    }


/* Калькулятор */
.b-calc {
    margin: -145px 0 0 0;
}

.calc {
    background-color: #FFD21F;
    width: 100%;
    margin: 0 0 50px 0;
    padding: 35px 25px;
    position: relative;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 0 25px 25px -15px #EAEEF1;
            box-shadow: 0 25px 25px -15px #EAEEF1;
}

    .calc::after {
        content: "";
        position: absolute;
        bottom: -19px;
        left: 60px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid #ffd21f;
    }

    .calc__item {
        margin-bottom: 25px;
    }

    @media screen and (min-width: 990px) {
        .calc__item:nth-child(2) {
            width: 16%;
            margin-right: 3%;
        }

        .calc__item:nth-child(4) {
            width: 31%;
        }

        .calc__input-block {
            width: calc(100% - 40px);
        }
    }

    .calc__input-block {
        position: relative;
    }

    .calc__input-block:after {
        content: "₽";
        position: absolute;
        right: 0;
        top: 0;
        font-size: 24px;
        font-weight: 600;
        padding: 10px 12px;
    }

    .calc__input {
        font-size: 24px;
        font-weight: 700;
        padding-right: 35px;
    }

    .calc__checkbox-label {
        margin-bottom: 0;
        display: inline-block;
    }

    .checkbox-custom__text b {
        font-size: 25px;
        font-weight: 600;
        padding-right: 3px;
    }

.calc-res {
    padding: 0 15px;
}

    .calc-res__item:first-child {
        margin-right: 3%;
    }

    .calc-res__item:nth-child(4) {
        float: right;
        background: #F2F2F2;
        padding: 20px 0 15px 20px;
        margin-top: -15px;
        -webkit-border-radius: 3px;
                border-radius: 3px;
    }

    .calc-res__item:nth-child(4) h5 {
        color: #2E2E2E;
    }

    .calc-res__item:nth-child(4) img {
        margin-top: 10px;
        width: auto;
    }

    .calc-res__item:nth-child(4):before {
        content: "";
        border-top: 55px solid transparent;
        border-right: 25px solid #f2f2f2;
        border-bottom: 55px solid transparent;
        position: absolute;
        left: -25px;
        top: 0;
        bottom: 0;
    }

    .calc-res h5 {
        color: #727e85;
        padding-left: 5px;
        margin-top: 0;
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: 400;
    }

    .calc-res__sum,
    .calc-res__per {
        font-size: 54px;
    }

    .calc-res__per {
        color: #0C8E36;
    }

    .calc-res__links {
        margin: 25px 15px;
    }

    .calc-res__links a {
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        margin-right: 5%;
        position: relative;
    }

    @media screen and (min-width: 990px) {
        .calc-res__links a:nth-child(3),
        .calc-res__links a:nth-child(4) {
            margin-left: 30px;
        }

        .calc-res__item:nth-child(4) {   
            width: 20%;
            margin-right: 5%;
        }
    }

    .calc-res__links a:nth-child(3):before,
    .calc-res__links a:nth-child(4):before {
        content: "";
        background-image: url("../img/icon-save.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25px;
        width: 25px;
        position: absolute;
        left: -33px;
        top: -5px;
    }

    .calc-res__links a:nth-child(4):before {
        background-image: url("../img/icon-geo.png");
    }

    @media screen and (max-width: 990px) {
        .calc-res__item:nth-child(4) {
            float: left;
            margin-top: 0;
        }
    }


/* Сравнение программ */
.b-programs {
    margin: 30px 0 60px 0;
}
    
    .program {
        margin-top: 60px;
    }

    .program__item {
        border: 2px solid #F0F0F0;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
    }

    .program__head {
        font-size: 24px;
        color: #727e85;
        font-weight: 700;
        padding: 25px 25px;
        height: 110px;
        border-bottom: 1px solid #E5E5E5;
    }

    .program__content {
        padding: 30px 25px;
    }

    .program__content h5:first-child,
    .program__content p:first-child {
        margin-top: 0;
    }

    .program__content h3 {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 700;
    }

    .program__content h4 {
        margin-top: 20px;
        margin-bottom: 3px;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
    }

    .program__content h5 {
        margin-top: 20px;
        margin-bottom: 3px;
        color: #727e85;
        line-height: 1.3;
    }

    .program__content p {
        color: #2E2E2E;
        font-weight: 600;
        line-height: 1.5;
    }

    .program__content .btn {
        margin-top: 20px;
    }

    .program__item:hover {
        border-color: #92C11B;
        -webkit-box-shadow: 0 25px 50px 0 #d8d8d8;
                box-shadow: 0 25px 50px 0 #d8d8d8;
    }

    .program__item:hover .btn {
        background: #93C21C;
        border-color: #92C11B;
        color: #FFF;
    }


/* Ответим на вопросы | Шаги */
.b-callback {
    margin: 30px 0 0 0;
    padding: 65px 0;
    background: #FECB00;
}

    .b-callback--grey {
        background: #F0F4F7;
    }

    .b-callback__form{
        margin: 45px -15px 15px -15px;
    }

    .b-callback__phone a {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.1;
        border: none;
        position: relative;
    }

    .b-callback__form div[class^="col"]:nth-child(1):after {
        content: "или";
        display: block;
        position: absolute;
        right: -20px;
        top: 10px;
    }

    .b-callback__form div[class^="col"]:nth-child(2) {
        padding-left: 50px;
        padding-right: 65px;
    }

    .b-callback__form div[class^="col"]:nth-child(3) {
        margin-left: -40px;
        padding-right: 120px;
    }

    .b-callback__checkbox-label {
        margin: 10px 0 0 0;
        display: inline-block;
    }

    .b-callback__text {
        margin-top: 5px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }

    .b-callback__checkbox-link {
        margin-top: -3px;
    }

    .b-callback__schedule {
        text-align: left;
        margin-top: 15px;
    }

    .b-callback__data {
        margin-top: 7px;
        text-align: left;        
    }

    .b-callback__steps {
        margin: 0 -15px 15px -15px;
        counter-reset: step-desc;
    }

    .b-callback__steps h4 {
        color: #2E2E2E;
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .b-callback__steps h3 {
        display: none;
    }

    .b-callback__steps div[class^="col"]::before {
        counter-increment: step-desc;
        content: counter(step-desc);
        height: 65px;
        width: 65px;
        display: block;
        font-size: 28px;
        font-weight: 100;
        line-height:    58px;
        text-align: center;
        border: 2px solid green;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .b-callback__steps div[class^="col"]:nth-child(2):after,
    .b-callback__steps div[class^="col"]:nth-child(3):after {
        content: "";
        width: 100%;
        max-width: 280px;
        height: 12px;
        background: url("../img/circles.png") repeat-x;
        display: block;
        position: absolute;
        top: 35px;
        right: 0;
    }


/* Карта */
.b-map {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

    .b-contacts {
        margin: 25px;
        float: right;
        background: #FFF;
        position: relative;
        z-index: 1;
    }

    [class^="ymaps-"][class$="-map"] {
        position: absolute !important;
        top: 0 !important;
    }

    .b-contacts__info {
        padding: 25px 35px 35px 35px;
    }

    .b-contacts__info .btn {
        display: none;
    }


/* Подвал */
footer {
    font-size: 18px;
    margin-top: 30px;
    padding: 0 0 50px 0;
}


/* Модальные окна */
.modal {
    padding-top: 75px;
}

    .modal-body {
        text-align: center;
    }

    .modal-body h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .modal-body h3 {
        font-size: 24px;
        font-weight: 600;
        margin: 20px 0 25px 0;
    }

    button.close {
        position: absolute;
        top: -40px;
        right: -40px;
        border: 2px solid #ccc;
        height: 40px;
        width: 40px;
        line-height: 0;
        border-radius: 50%;
        text-align: center;
        padding: 0;
        color: #ccc;
    }

    button.close:hover {
        color: #FFF;
        border-color: #FFF;
        opacity: 1;
    }

    .modal-backdrop.in {
        opacity: .8;
    }


/* Адаптив */
@media screen and (min-width: 990px) and (max-width: 1160px) {
    header {
        text-align: center;
    }

    .nav__li {
        margin-left: 5px;
        margin-right: 5px;
    }

    .b-logo {
        width: 12%;
    }

    nav {
        margin: 0 10px;
    }
}

@media screen and (max-width: 990px) {
    /* Шапка */
    .b-logo {
        margin: 25px;
    }

    nav {
        margin: 0;
        background: #FFF;
    }

    nav.collapse {
        display: none;
        position: relative;
        border-bottom: 1px solid #E1E1E1;
        background: #FFF;
    }

    nav.collapsing,
    nav.collapse.in {
        width: 100%;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
    }

    .nav__hamburger {
        display: inline-block;
        position: absolute;
        right: 25px;
        top: 35px;
    }
    
    .nav__hamburger,
    .nav__hamburger:after,
    .nav__hamburger:before {
        content: "";
        display: block;
        width: 30px;
        margin: 7px 0;
        border-bottom: 2px solid #0D8D36;
    }

    .nav__li {
        display: flex;
        margin: 30px;
    }

    .nav__li:first-child {
        margin-left: 30px;
    }

    .nav__li:last-child {
        margin-right: 30px;
    }

    .b-phone__num {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 0;
        position: relative;
        top: -5px;
        left: 10px;
    }

    .b-phone__btn {
        display: none;
    }
    
    label {
        margin-bottom: 15px;
        height: auto;
    }

    /* Слайдер */
    .b-slider {
        padding-left: 25px;
        padding-right: 25px;
    }

    .b-slider h3 {
        display: none;
    }

    .checkbox-custom__text {
        display: inline;
    }

    .calc-res {
        display: none;
    }

    .table {
        max-width: none;
    }

    .b-programs .row {
        overflow-x: auto;
    }

    .program {
        width: 150%;
        margin-top: 45px;
    }

    .row-30 {
        margin: 0 -15px;
    }

    .b-callback {
        padding-left: 25px;
        padding-right: 25px;
    }

    .b-callback__steps {
        margin: 0;
    }

    .b-callback__steps div[class^="col"]::before {
        display: inline-block;
        vertical-align: top;
        margin-top: 15px;
    }

    .b-callback__steps-info {
        display: inline-block;
        margin-left: 25px;
    }

    .b-callback__form {
        margin: 45px 0 25px;
    }
    
    .b-callback__form div[class^="col"]:nth-child(1) {
        display: none;
    }

    .b-callback__form div[class^="col"]:nth-child(2),
    .b-callback__form div[class^="col"]:nth-child(3) {
        margin: 0;
        padding: 0;
    }

    .b-callback__steps h3 {
        display: block;
        font-weight: 700;
    }

    .b-callback__steps-info {
        margin-left: 0;
    }

    .b-callback__steps div[class^="col"]:nth-child(2):after,
    .b-callback__steps div[class^="col"]:nth-child(3):after {
        display: none;
    }

    .b-contacts__info .btn {
        display: block;
    }

    .modal {
        padding-top: 0;
    }

    button.close {
        top: 15px;
        right: 15px;
    }

    footer {
        padding-left: 25px;
        padding-right: 25px;
    }
}

@media screen and (max-width: 768px) {
    .b-callback__form div[class^="col"]:nth-child(3) {
        margin-top: 25px;
    }

    .calc {
        padding: 35px 25px 65px 25px;
    }

    .calc__item {
        margin-bottom: 65px;
    }

    .calc__checkbox-label {
        margin: 0;
    }

    .b-contacts {
        left: 0;
        right: 0;
        margin: 25px;
    }
}

@media screen and (max-width: 640px) {
    h2 {
        font-size: 52px;
    }

    h4 {
        font-size: 24px;
    }

    .program {
        width: 200%;
    }
}

@media screen and (max-width: 620px) {
    .b-phone__num {
        font-size: 26px;
        left: 0;
        top: -10px;
    }
}

@media screen and (max-width: 580px) {
    .b-phone__num {
        font-size: 21px;
    }

    .radio-custom--small .radio-custom__new {
        font-size: 21px;
    }
}

@media screen and (max-width: 480px) {
    .b-phone__num {
        font-size: 16px;
    }

    .program {
        width: 250%;
    }
}

@media screen and (max-width: 460px) {
    .b-phone {
        display: none;
    }

    .b-callback__steps div[class^="col"]::before {
        margin-bottom: 0;
        display: block;   
    }

    .b-callback__steps-info {
        margin-left: 0;
    }

    .radio-custom--small .radio-custom__new {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    .program {
        width: 325%;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 34px;
    }

    .b-slider,
    .b-callback {
        padding-left: 15px;
        padding-right: 15px;
    }

    .calc {
        padding: 35px 0 65px 0;
    }

    .calc__item {
        margin-bottom: 30px;
    }
}